.searchpage{
    width: 94.15%;
    margin-left: 100px;
    height: auto;
    padding: 2%;
}
.searchpage input{
    border:none;
    border-radius: 5px;
    width: 70%;
    background-color: aliceblue;
    margin-left: 15%;
    padding: 5px;
    padding-left: 10px;
}
.search-res{
    padding-top: 20px;
    width: 100%;
}
.movimg{
    /* display: flex;
    flex-direction: row; */
    /* flex-wrap: wrap; */
    float: left;
    width: 190px;
    height: 240px;
    margin: 0.5%;
}
.movimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
@media only screen and (max-width:700px){
    .searchpage{
    width: 100%;
    margin-left:0px;
}
}








/* .searchpage{
    width: 94.15%;
    margin-left: 100px;
    height: auto;
}
.searchbar{
    width: 100%;
    padding-top: 40px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-res{
    width: 46%;
    margin-left: 21.5%;
    height: fit-content;
    margin-top: 20px;
}
.search-res div{
    width: 98%;
    padding: 5px;
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.928);
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
}
.searchbar input{
    width: 50%;
    height: 35px;
    background-color: aliceblue;
    border: none;
    padding-left:1%;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
}
.searchbar button{
    width: fit-content;
    margin-left: 1%;
    height: 35px;
}
.searchcontent{
    width: 100%;
    height: 500px;
    background-color: antiquewhite;
}
@media only screen and (max-width:700px){
    .searchpage{
    width: 100%;
    margin-left:0px;
}
} */